<%- include('../partials/header') %>

<h1><%= quiz.title %></h1>
<p class="lead"><%= quiz.description %></p>
<hr>

<h3>Questions</h3>

<% if (quiz.questions && quiz.questions.length > 0) { %>
    <ul class="list-group mb-3">
        <% quiz.questions.forEach(question => { %>
            <li class="list-group-item">
                <a href="/questions/<%= question._id %>"><%= question.text %></a>
            </li>
        <% }) %>
    </ul>
<% } else { %>
    <p class="text-muted">This quiz has no questions yet.</p>
<% } %>


<a href="/quizzes/<%= quiz._id %>/edit" class="btn btn-warning">Edit Quiz</a>
<a href="/quizzes/<%= quiz._id %>/questions/new" class="btn btn-success">Add New Question</a>
<a href="/quizzes" class="btn btn-secondary">Back to List</a>

<%- include('../partials/footer') %>