<%- include('../partials/header') %>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Questions</h1>
    <a href="/questions/new" class="btn btn-primary">Create New Question</a>
</div>

<ul class="list-group">
    <% questions.forEach(question => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="/questions/<%= question._id %>">
                <%= question.text %>
            </a>
            
            <form method="POST" action="/questions/<%= question._id %>?_method=DELETE" class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </li>
    <% }) %>
</ul>

<%- include('../partials/footer') %>